# expenses

In [1]:
expenses=[1200,1300,1400,1700]
for expense in expenses:
    print(expense)

1200
1300
1400
1700

In [2]:
total_expense=0
for expense in expenses:
    total_expense+=expense
print(total_expense)

5600

# print month along with it use range fn

In [5]:
expenses=[1200,1300,1400,1700]

total_expense=0
for i in range(len(expenses)):
    print(f'Month {i}, Expense : {expenses[i]} ')
    total_expense+=expenses[i]
print(total_expense)

Month 0, Expense : 1200
Month 1, Expense : 1300
Month 2, Expense : 1400
Month 3, Expense : 1700
5600

In [6]:
for i, expense in enumerate(expenses):
    print(f'Month {i}, Expense : {expense}')

Month 0, Expense : 1200
Month 1, Expense : 1300
Month 2, Expense : 1400
Month 3, Expense : 1700

# break statement

In [7]:
monthly_sales=[42,38,33,38,40,45]
threshold=35
for sales_amt in monthly_sales:
    if sales_amt < threshold:
        print(sales_amt)

33

In [8]:
# end for loop as soon as it sees first condition
for sales_amt in monthly_sales:
    if sales_amt < threshold:
        print(f'amount {sales_amt} is less that threshold')
    else:
        print(f'amount {sales_amt} is greater that threshold')

amount 42 is greater that threshold
amount 38 is greater that threshold
amount 33 is less that threshold
amount 38 is greater that threshold
amount 40 is greater that threshold
amount 45 is greater that threshold

In [9]:
# end for loop as soon as it sees first condition use break
for sales_amt in monthly_sales:
    if sales_amt < threshold:
        print(f'amount {sales_amt} is less that threshold')
        break
    else:
        print(f'amount {sales_amt} is greater that threshold')

amount 42 is greater that threshold
amount 38 is greater that threshold
amount 33 is less that threshold

In [10]:
monthly_sales=[42,38,33,38,40,45]
months=['jan','feb','march','apr','may','jun']

# zip

In [13]:
a=[1,2,3]
b=['a','b','c']
for i in zip(a,b):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [14]:
tuple(zip(a,b))

((1, 'a'), (2, 'b'), (3, 'c'))

In [15]:
monthly_sales=[42,38,33,38,40,45]
months=['jan','feb','march','apr','may','jun']

for sales_amt,month in zip(monthly_sales,months):
    print(month,sales_amt)

jan 42
feb 38
march 33
apr 38
may 40
jun 45

In [17]:
monthly_sales=[42,38,33,38,40,45]
months=['jan','feb','march','apr','may','jun']

for sales_amt,month in zip(monthly_sales,months):
    if sales_amt < threshold:
        print(f'amount {sales_amt} is less that threshold in month {month}')
        break
    else:
        print(f'amount {sales_amt} is greater that threshold in month {month}')

amount 42 is greater that threshold in month jan
amount 38 is greater that threshold in month feb
amount 33 is less that threshold in month march

# continue

In [18]:
for i in range(1,11):
    if i%2 !=0:
        print(i)

1
3
5
7
9

In [19]:
for i in range(1,11):
    if i%2 ==0:
        continue
        
    print(i)

1
3
5
7
9

In [21]:
#while loop rarely used in specific use case
n=0
while n<10:
    print(n)
    n+=1

0
1
2
3
4
5
6
7
8
9

In [24]:
products=['iphone','ipad','macbook']
regions=['usa','china','india']
revenue=[20,23,45,18,17,12,12,9,5]

i=0
for product in products:
    for region in regions:
        rev=revenue[i]
        i+=1
        print(f'{product} {region} revenue: {rev}')

iphone usa revenue: 20
iphone china revenue: 23
iphone india revenue: 45
ipad usa revenue: 18
ipad china revenue: 17
ipad india revenue: 12
macbook usa revenue: 12
macbook china revenue: 9
macbook india revenue: 5

In [25]:
for i in range(5):
    print(i)

0
1
2
3
4

In [26]:
for i in range(5):
    print(i)
else:
    print("loop ends")

0
1
2
3
4
loop ends